body {
  background-color: black;
}
h1 {
  color: red;
}
h2,
p {
  color: red;
}
table,
th,
td {
  border: 3px solid white;
}
td {
  color: white;
}
th {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
#mydiv {
  background-color: white;
}
#div {
  background-color: white;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
button {
  background-color: gray;
  margin-top: 13px;
}
